{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <section class="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if lists %}
                        <h1 class="home__title"><b>Your</b> lists</h1>
                    {% else %}
                        <h2 class="home__title "><b><a href="{% url 'create list' %}">Create</a></b> a list</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section>
    <div class="catalog">
        <div class="container">
            <div class="row row--grid">
                {% for list in lists %}
                    <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                {% if list.cover %}
                                <img src="{{ list.cover }}" alt="">
                                {% else %}
                                <img src="{% static 'img/cover_empty.jpg' %}" alt="">
                                {% endif %}
                                <a href="{% url 'details list' list.pk %}" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="{% url 'details list' list.pk %}">{{ list.title }}</a>
                                </h3>
                                <span class="card__category">
									<a href="{% url 'delete list' list.pk %}"><i class="icon ion-ios-trash"></i></a>
                                    <a href="{% url 'edit list' list.pk %}"><i class="icon ion-ios-create"></i></a>
								</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </section>
    <section class="section section--border">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-10">
                    <h2 class="section__title section__title--mb">
                        <b>MovieList</b> – Your place for custom Lists
                    </h2>
                    <p class="section__text">
                        MovieList allows you to create custom named Lists with a cover of your choice!
                        After you can search for a Movie that you watched, grade it add it to the List.
                        You can have a lot of Lists, and you can divide your Movies however you want.
                        Or you can make a List for example 'Completed' and have all movies that you
                        watched in it!
                    </p>
                    <p class="section__text">
                        MovieList search results are provided by <a href="https://www.themoviedb.org/">TMDB API</a>
                        and Trailers are generated by <a>YOUTUBE API!</a>. This project is still work in progress, so It may have a lot of bugs. It's my first project so there
                        is a lot to be learned still, but I will continue to make it better!
                        Movie List is free, It doesn't run any adds, and It will remain that way.
                        There is zero revue generated by this site.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
